.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

/*Flexbox 1*/
.flexOne{
  display: flex;
  flex-direction: row;
}
.flexOne > .square {
  margin: 5px;
}

/*Flexbox 2*/
.flexTwo{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.flexTwo > .square {
  margin: 2px;
}

/*Flexbox 3*/
.flexThree{
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin-top: 50px;
}
.flexThree > .square {
  margin: 2px;
}

/*Flexbox 4*/
.flexFour {
  display: flex;
  flex-direction: row;
  width: 350px;
  flex-wrap: wrap;
  margin-top: 50px;
}
.flexFour > .square{
  margin: 5px;
  background-color: #3d8b6d;
}

/*Flexbox 5*/
.flexFive {
  width: 350px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.flexFive > .item {
  background-color: #0b6643;
  width: 100px;
  height: 100px;
  margin: 2px;
}
#grow {
  flex-grow: 2;
}

/*Flexbox 6*/
.flexSix {
  height: 400px;
  width: 500px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.flexSix > .one {
  display: flex;
  justify-content: space-around;
}
.flexSix > .two{
  display: flex;
  justify-content: space-between;
  background-color: #d6d6d6;
  margin-top: 50px;
}
.flexSix > .three{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

/*Flexbox 7*/
.flexSeven {
  margin-top: 50px;
  height: 400px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: #d6d6d6;
}
.flexSeven > .one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexSeven > .two {
  display: flex;
  flex-direction: column-reverse;
  background-color: grey;
}
.flexSeven > .three {
  display: flex;
  flex-direction: column;
  flex-end: 3;
}
.flexSeven > .four {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;
}

/*Flexbox 8*/
.flexEight {
  margin-top: 50px;
  height: 400px;
  width: 300px;
  display: flex;
  background-color: #d6d6d6;
}
.flexEight > .one {
  display: flex;
  align-items: center;
}
.flexEight > .two {
  display: flex;
  align-items: flex-end;
}
.flexEight > .three {
  display: flex;
  align-items: flex-start;
}

/*Flexnine 9*/
.flexNine {
  margin-top: 50px;
  width: 450px;
  height: 250px;
  display: flex;
  background-color: #d6d6d6;
  justify-content: space-between;
}
.flexNine > #special {
  display: flex;
  align-self: flex-end;
}